@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    --mainColor: #4fccac;
    --secColor: #d78702;
    --thirdColor: #dcf6ed;
    background-color: var(--thirdColor);
}
/* 'Indie Flower', cursive; */
/* 'Playfair Display', serif; */
body{
    overflow: hidden;
    background-image: url("Bilder/a1.jpg");
    background-repeat: no-repeat;
    margin:0;
}

.menu{
   background-color: var(--mainColor);
   list-style-type: none;
   font-weight: bold; 
   position: fixed;
   top: 15%;
   left:0px;
   height: 10%;
   width: 100%;
   z-index:100;
   display: table;
   table-layout: fixed;
   font-size: 2.6vh;
}

.menu div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menu div a{
    font-family:'Indie Flower', cursive;
    font-size: 4vh;
    text-decoration: none;
    color: var(--thirdColor)
}

.logo{
    position: absolute;
    z-index: 200;
    width: 100%;
    display: flex;
    top: 7%;
    left:calc(50% - 122.5px); 
}

#bird{
    height: 245px;
    position: absolute;
    padding: 0;
    clip-path: circle(30.5% at 48% 50%);
}

#foo{
    background-color: var(--mainColor);
    list-style-type: none;
    font-weight: bold; 
    font-family: 'Playfair Display', serif;
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 6%;
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 1.8vh;
}

#foo div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#foo2{
    border-left: 3px solid;
    border-image: 
    linear-gradient(
      to top, 
      var(--thirdColor), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#foo3{
    border-left: 3px solid;
    border-image: 
    linear-gradient(
      to top, 
      var(--thirdColor), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#foo4{
    border-left: 3px solid;
    border-image: 
    linear-gradient(
      to top, 
      var(--thirdColor), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#foo5{
    border-left: 3px solid;
    border-image: 
    linear-gradient(
      to top, 
      var(--thirdColor), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

#foo div a{
    text-decoration: none;
    color:black;
}

#suchen{
    background-color: var(--thirdColor);
    border-radius: 50px;
    border-color: var(--secColor);
    width: 80%;
    height: 30%;
    font-size: 1.5vh;
}

#Background{
	overflow: auto;
	width: 100%;
	height: 75%;
    position: absolute;
    top: 25%;
	background: linear-gradient(180deg, var(--thirdColor) 50%, var(--mainColor));
}

#Background h1 {
	font-size: 30pt;
	text-align: center;
	
}

#Background h6 {
	font-size: 20pt;
	text-align: center;
	margin: 50px;
}

#Login {
	overflow: hidden;
	height: 200px;
	margin-left: 400px;
	margin-right: 400px;
	padding: 50px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 10px;
	border-style: solid;
	font-size: 25pt;
	background-color: var(--thirdColor);
}

.formRow {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.input {
	flex-grow: 1;
	font-size: 20pt;
    font-family: 'Playfair Display', serif;
}

.field{
	width: 100px;
	flex-grow: 1;
	padding-right: 20px;
	text-align: right;
}

.loginButton {
	font-size: 2.8vh;
    font-family: 'Playfair Display', serif;
}

.registrieren {
	display: flex;
	justify-content: center;
}
.field{
    font-size: 3.5vh;
    font-family: 'Indie Flower' , cursive;
}

#Background h1 , #Background h6{
    font-family: 'Indie Flower' , cursive;
}

#Background h1{
    font-size: 5vh;
}

#Background h6{
    font-size: 3vh;
    margin: 50px;
}

@media (hover:hover){
    #nav1:hover{
        background-color: var(--thirdColor);
        border-top: solid 10px var(--mainColor);
        border-right: solid 10px var(--mainColor);
        border-top-right-radius: 50px;
    }
    
    #nav1:hover a{
        color: var(--secColor)
    }
    
    #nav2:hover{
        background-color: var(--thirdColor);
        border-top: solid 10px var(--mainColor);
        border-left: solid 10px var(--mainColor);
        border-right: solid 10px var(--mainColor);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    #nav2:hover a{
       color: var(--secColor);
    }
    
    #nav3:hover{
        background-color: var(--thirdColor);
        border-top: solid 10px var(--mainColor);
        border-left: solid 10px var(--mainColor);
        border-right: solid 10px var(--mainColor);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    #nav3:hover a{
        color: var(--secColor)
    }
    
    #nav6{
        background-color: var(--thirdColor);
        border-top: solid 10px var(--mainColor);
        border-left: solid 10px var(--mainColor);
        border-right: solid 10px var(--mainColor);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    
    #nav6 a{
        color: var(--secColor)
    }

    #nav7:hover{
        background-color: var(--thirdColor);
        border-top: solid 10px var(--mainColor);
        border-left: solid 10px var(--mainColor);
        border-top-left-radius: 50px;
    }
    
    #nav7:hover a{
        color: var(--secColor)
    }
}

@media only screen and (max-width: 600px){
    body{
        background-image: none;
    }

    .logo{
        position: absolute;
        z-index: 200;
        width: 100%;
        left:calc(0%);
        top: -5%;
        
    }

    #bird{
        height: 200px;
        position: absolute;
        padding: 0;
        clip-path: circle(30.5% at 48% 50%);
        left: -8%;
    }

    .menu{
        display: flex;
        justify-content: right;
        align-items: center;
        top: 0px;
        right: 5%;
    }

    .menu a{
        font-size: 2.6vh;
        padding: 5px;
    }

    .menu div a{
        font-size: 3vh;
    }
    
    #nav1{
        display: none;
    }
    
    #nav3{
        border-top: solid 0px var(--mainColor);
        border-left: solid 0px var(--mainColor);
        border-right: solid 0px var(--mainColor);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #nav6{
        background-color: var(--mainColor);
        border-top: solid 0px var(--mainColor);
        border-left: solid 0px var(--mainColor);
        border-right: solid 0px var(--mainColor);
    }
    
    #nav6 a{
        color: var(--secColor)
    }

    #nav7{
        padding-right: 10px;
    }

    #suchen{
        display: none;
    }

    #Login{
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 80%;
        height: 30%;
    }

    .input{
        display: flex;
        justify-content: center;
        flex-grow: unset;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }

    .field{
        font-size: 3.5vh;
        font-family: 'Indie Flower' , cursive;
    }
}